DB_CONNECTION_STRING="mongodb://localhost:27017/proyectoFinal"
# Conexión con Cluster de AtlasDB:
# DB_CONNECTION_STRING="mongodb+srv://<username>:<password>@cluster0.XXXXX.mongodb.net/?retryWrites=true&w=majority"
JWT_SECRET="secret"
